@media screen and (min-width: 1000px) {

    /*Header Info*/
    header {
        justify-content: space-between;
        padding: 0 2rem;
    }


    #menu {
        display: none;
    }


    .navigation {
        flex-direction: row;
        align-items:center;
        justify-content: flex-end;
        background: none;
        margin: 0;
        padding: 0;
    }

    .navigation li {
        list-style: none;
        margin: 0 1rem;
    }

    .navigation a {
        display: block;
        color: var(--primary-color);
        font-family: var(--primary-font);
        font-size: 2rem;
        transition: color 0.3s ease;
    }

    .navigation a:hover {
        color: white;
        text-decoration: underline;
    }

    .logo {
        margin-right: auto;
        max-height: 100px;
    }

    /*Header Info*/
    * {
        padding: 0;
        margin: 0;
    }


    section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 1200px;
        margin: 0 auto;
    }

    .text {
        display: grid;
        width: 400px;
        align-items: center;
        justify-items: center;
        font-size: 2rem;
    }
}