:root {
    --primary-font: "Permanent Marker", cursive;
    --secondary-font: "Roboto Slab", serif;
    --primary-color: #2c5570;
    --secondary-color: #e6b84e;
}


/*header info*/

header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding: 5px 0 5px 10px;
    align-items: center;
    border: solid 3px var(--primary-color);
    column-gap: 20px;
}

header img {
    display: block;
    width: 100px;
}


header span {
    font-size: 1.1rem;
    color: var(--primary-color);
    font-family: var(--secondary-font);
}

/* Hamburger*/

.hamburger {
    background: none;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::after {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::after {
    content: "\00d7";
}

#nav-bar {
    display: none;
    grid-column: 1 / 4;
    justify-content: center;
    text-align: center;
    width: 100%;
}

#nav-bar.show {
    display: flex;
}

#nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#nav-bar a {
    display: block;
    padding: .8rem 10px;
    text-align: center;
    color: var(--primary-color);
    font-family: var(--secondary-font);
    font-size: 1.2rem;
    text-decoration: none;
}

#nav-bar li.current {
    text-decoration: double underline var(--secondary-color);
}

#nav-bar a:hover {
    background-color: var(--secondary-color);
}

/*Header info*/


/*Main*/


h1 {

    text-align: center;
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

.view-toggle {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.view-toggle button {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border-radius: 20px;
    width: 10rem;
    height: auto;
    font-size: 1.5rem;
    font-family: var(--secondary-font);
}

.member-card {
    border: 3px solid var(--secondary-color);
    padding: 1rem;
    border-radius: 8px;
    background-color: var(--primary-color);
    text-align: center;
    font-family: var(--secondary-font);
    color: var(--secondary-color);
}

.member-card img {
    width: 120px;
    height: auto;
    margin-bottom: .5rem;
    border: 3px solid var(--secondary-color);
    border-radius: 8px;
}

.grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.list-view {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    max-width: 500px;
    margin: 0 auto;
}

.view-toggle button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.member-card a {
    color: var(--secondary-color);
}


/*Main*/

.hero {
    width: 99%;
    margin-top: 1rem;
    border: 3px solid var(--secondary-color);
    border-radius: 20px;
}

/*CALL to ACTION*/

.cta {
    background: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 3rem 1.5rem;
    border-radius: 1rem;
    margin: 2rem auto;
    max-width: 810px;
    border: 3px solid var(--secondary-color);
}

.cta h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: var(--secondary-font);
}

.cta p {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    line-height: 1.5;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--secondary-font);
}

.cta-btn {
    display: inline-block;
    background: white;
    color: var(--primary-color);
    font-weight: 700;
    text-decoration: none;
    padding: 0.8rem 1.8rem;
    border-radius: 2rem;
}

.cta-btn:hover {
    background: var(--secondary-color);
    transform: scale(1.05);
}

/*EVENTS*/

.events {
    background: var(--primary-color);
    margin: 1rem;
    border-radius: 1rem;
    text-align: left;
    border: 3px solid var(--secondary-color);
}

.events h2 {
    font-size: 1.8rem;
    color: var(--secondary-color);
    margin-bottom: 1rem;
    font-family: var(--secondary-font);
    text-align: center;
}

.event-list {
    font-size: 1.5rem;
    font-family: var(--secondary-font);
    color: var(--secondary-color);
}

.event-item {
    padding: 1rem;
}

/*WEATHER*/

.weath {
    background: var(--primary-color);
    padding: 2rem 1rem;
    margin: 1rem;
    border-radius: 1rem;
    text-align: center;
    border: 3px solid var(--secondary-color);
}

.weath h2 {
    font-size: 1.8rem;
    color: var(--secondary-color);
    margin-bottom: 1rem;
    font-family: var(--secondary-font);
}

#current-temp {
    display: block;
    font-size: 2rem;
    font-weight: 600;
    color: var(--secondary-color);
    margin-bottom: 0.5rem;
    font-family: var(--secondary-font);
}

.weath figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 1rem;
}

#weather-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 0.5rem;
}

.weath figcaption {
    color: var(--secondary-color);
    text-transform: capitalize;
    font-size: 2rem;
    font-family: var(--secondary-font);
}


#weather {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.forecast-card {
    background: white;
    border-radius: 0.75rem;
    border: 2px solid var(--secondary-color);
    padding: 0.75rem 1rem;
    width: 120px;
    text-align: center;
}

.forecast-card h4 {
    font-size: 1rem;
    color: var(--primary-color);
    margin-bottom: 0.25rem;
    font-family: var(--secondary-font);
}

.forecast-card p {
    margin: 0.25rem 0;
    font-size: 1rem;
    color: var(--primary-color);
    font-family: var(--secondary-font);
}

.forecast-card img {
    width: 60px;
    height: 60px;
}

/*WEATHER*/

/* Footer Info*/

.socialmedia {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.socialmedia a {
    display: block;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    text-decoration: none;
    background-color: white;
    border-radius: 22px;
}

.socialmedia img {
    width: 44px;
    height: 44px;
}

.socialmedia a:hover {
    background-color: var(--secondary-color);
}

footer {
    width: 99%;
    height: auto;
    background-color: white;
    border: solid 3px var(--primary-color);
    font-family: var(--secondary-font);
    color: var(--primary-color);
    margin: 0 auto;
}

footer section {
    padding: 1rem;
}

footer p {
    margin: 0.2rem;
}


/*footer info*/