@media screen and (min-width: 38rem) {

    header, main, nav, footer {
        max-width: 900px;
        margin: 0 auto;
    }

    /*Header Info*/

    header span {
    font-size:  1.1rem;
    }


    .hamburger {
        display: none;
    }

    #nav-bar {
        display: flex;
        grid-column: 3;
    }

    #nav-bar ul {
        display: flex;
        flex-direction: row;
    }

    #nav-bar a {
        border: none;
    }

    /*Header*/

    /*Main*/

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: start;
        justify-content: center;
        gap: 1rem;
        text-align: left;
        max-width: 900px;
        font-size: small;
    }
    
    footer section {
        padding: .5rem;
    }
}