:root {
    --primary-font: "Permanent Marker", cursive;
    --secondary-font: "Roboto Slab", serif;
    --primary-color: #2c5570;
    --secondary-color: #e6b84e;
}


/*header info*/

header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding: 5px 0 5px 10px;
    align-items:center;
    border: solid 3px var(--primary-color);
    column-gap: 20px;
}

header img {
    display: block;
    width: 100px;
}


header span {
    font-size: 1.1rem;
    color: var(--primary-color);
    font-family: var(--secondary-font);
}

/* Hamburger*/

.hamburger {
    background: none;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::after {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::after {
    content: "\00d7";
}

#nav-bar {
    display: none;
    grid-column: 1 / 4;
    justify-content: center;
    text-align: center;
    width: 100%;
}

#nav-bar.show {
    display: flex;
}

#nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#nav-bar a {
    display: block;
    padding: .8rem 10px;
    text-align: center;
    color: var(--primary-color);
    font-family: var(--secondary-font);
    font-size: 1.2rem;
    text-decoration: none;
}

#nav-bar li.current {
    text-decoration:underline var(--secondary-color);
}

#nav-bar a:hover {
    background-color: var(--secondary-color);
}

/*Header info*/


/*Main*/


h1 {

    text-align: center;
    font-family: var(--secondary-font);
    color: var(--primary-color);
}




/*Main*/





/* Footer Info*/

.socialmedia {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.socialmedia a {
    display: block;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    text-decoration: none;
    background-color: white;
    border-radius: 22px;
}

.socialmedia img {
    width: 44px;
    height: 44px;
}

.socialmedia a:hover {
    background-color: var(--secondary-color);
}

footer {
    width: 99%;
    height: auto;
    background-color: white;
    border: solid 3px var(--primary-color);
    font-family: var(--secondary-font);
    color: var(--primary-color);
    margin: 0 auto;
}

footer section {
    padding: 1rem;
}

footer p {
    margin: 0.2rem;
}


/*footer info*/